<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../public/home.css" />
</head>
<body>
    <div class="body">
        <h1>Philosopher are asking money 🧐</h1>
        <p> All the theories we read,  <br>
            Unfortunately the Philosophers are demanding money for their theories. <br>
            Don't woory! you don't have to pay anything :)<br>
            Rhys gives everyone a fixed amount of money to spend on each theories. <br>
            Now, How much you would like to spend on each theory?!!
        </p>
        <p>
            [NB: Nobody knows how many theories are been listed here,<br>
            and you will have only a fixed amount of money, <br>
            if you spend too much money on a few theories, you might miss your 👌 theory<br>
            also if you spend a little bit of money, The money will become useless] <br> <hr>
            <strong>Don't spend too much or too little on each unless it's your favorite.🤔</strong>
        </p>
        <form action="/question" method="get">
            <div class="wrap">
                    <input type="submit" value="Start buying" class="btn">
            </div>
        </form>
    </div>
</body>
</html>